services:
  - type: web
    name: sinhangman-gas
    runtime: docker
    plan: free
    region: singapore
    branch: master
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: JAVA_OPTS
        value: "-Xmx512m -Xms256m"
      - key: SERVER_PORT
        value: "8080"
      - key: SPRING_PROFILES_ACTIVE
        value: "prod"
    healthCheckPath: /
    autoDeploy: true

